# Core app framework
streamlit

# Image processing
pillow
opencv-python

# Data processing
numpy             #data processing
pandas            #date processing

#Loading & preprocessing images
scikit-image      # for loading and preprocessing images

#Deep learning
tensorflow        # or torch (depending on the model you train/use)
torch             # optional if using PyTorch
torchvision       # for image models (if PyTorch)

# Utilities
joblib            # for saving/loading ML models
matplotlib        # for quick visualizations

